body {font-family:Helvetica, Arial, sans-serif; margin:0; padding: 0;}

.luxMenu {display: block; position: relative; max-width: 50%; margin: 0 auto; text-align: center;}

.luxMenu .sub {display:none; background: #e9e9e9; list-style: none;}
.luxMenu li {font-size: 13px;}
.luxMenu li a {color:#393939; display: block; text-decoration: none; padding: 7px 5%;}
.luxMenu li a:hover {background: #d9d9d9;}

.luxMenu > .sub {display:none;}
.luxMenu > ul > li ul {border-bottom:1px #c9c9c9 solid; margin-bottom: 10px;}

.luxMenu .abrir {background: #393939; color:#fff; font-size: 13px; display: block;}
.luxMenu .abrir a {color:#fff; display: block; padding: 10px 0; text-decoration: none;}
.luxMenu .abrir a:hover, .luxMenu.activo .abrir a {background: #191919;}